<div style="max-width: 500px; width: 100%; margin: 50px auto; padding: 16px 32px; background: #fff; border-radius: 5px;">
  <h1 style="font-size: 20px; font-weight: 600;">Hello {{ username }}, </h1>
  <p style="text-align: justify;">
    We are confirming that your password has been successfully reset!
  </p>
</div>