<div style="max-width: 500px; width: 100%; margin: 50px auto; padding: 16px 32px; background: #fff; border-radius: 5px;">
  <h1 style="font-size: 20px; font-weight: 600;">You are almost done!</h1>
  <p style="text-align: justify;">
    Click the link below to verify that we have your email correct.
  </p>
  <p style="text-align: center;">
    <a href={{ link }} style="padding: 8px 16px; border-radius: 5px; text-decoration: none; background: #365df0; color: #fff; font-size: 18px; font-weight: 600;">
      Check my email address          
    </a>
  </p>
</div>